{% extends "website/_layouts/base.html" %} 
{% block title %}Lista de Projetos{% endblock %} 
{% block conteudo %}
    <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Lista de Projeto</h5>
            {% if projetos|length > 0 %}
                <p class="card-text">
                    Aqui está a lista de <code>Projetos</code> cadastrados.
                </p>
                <table  class="table table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th  scope="col">Nome Projeto</th>
                        <th  scope="col">Data de Inicio</th>
                        <th  scope="col">Data de Fim</th>
                        <th  scope="col">Valor do Projeto</th>
                        <th  scope="col">Risco</th>
                        <th  scope="col">Participantes</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in projetos %}
                        <tr>
                            <td scope="row">{{ p.id }}</td>
                            <td scope="row">{{ p.nome_do_projeto }}</td>
                            <th scope="row">{{ p.data_de_inicio|date:"d/m/Y" }}</th>
                            <th scope="row">{{ p.data_de_fim|date:"d/m/Y"  }}</th>
                            <td scope="row">{{ p.valor_projeto }}</td>
                            <td scope="row">{{ p.risco }}</td>
                            <td scope="row">{{ p.participantes }}</td>
                            <td>
                            <a
                                href="{% url 'cadproj:atualiza_projeto' pk=p.id %}"
                                class="btn btn-info"
                            >
                                Editar
                            </a>
                            <a
                                href="{% url 'cadproj:deleta_projeto' pk=p.id %}"
                                class="btn btn-danger"
                            >
                                Excluir
                            </a>
                            <a class="btn btn-success" href="{% url 'cadproj:simulador' pk=p.id %}">
                                Simular
                            </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="text-center mt-5 mb-5 jumbotron">
                    <h5>Nenhum <code>Projeto</code> cadastrado ainda.</h5>
                </div>
            {% endif %}
            <hr />
            <div class="text-right">
                <a
                class="btn btn-primary"
                href="{% url 'cadproj:cadastra_projeto' %}"
                >
                Cadastrar Projeto
                </a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock %}
